<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "layout/header.html" %}
    <link rel="stylesheet" href="../static/css/product/products.css" />
    <title>아나바다 | 신입생 길라잡이</title>
  </head>
  <body>
    {% include "layout/navbar.html" %}
    <div class="container-fluid product-container mb-5">
      <div class="row mt-4">
        <div class="col-md-6 col-sm-8 col-8">
          <select name="product-category" class="category-selector" id="">
            <option value="0" selected>전체보기</option>
            {% for category in categories %}
            <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6 col-sm-4 col-4 text-end">
          <a href="/product" class="btn btn-sm btn-outline-success">
            물품등록
          </a>
        </div>
      </div>
      <div class="row justify-content-start mt-3 mb-4">
        <div class="product-search-div">
          <input
            type="text"
            name="product-search"
            id="product-search"
            placeholder="검색"
          />
          <a class="product-search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </div>
      </div>

      <div class="row">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-6 mb-3">
          <a href="/product/{{product[0]}}" class="product-link">
            <div class="card">
              {% if product[5] %}
              <img src="{{ product[5] }}" class="card-img-top" alt="..." />
              {% else %}
              <img
                src="https://images.unsplash.com/photo-1511556820780-d912e42b4980?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHByb2R1Y3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                class="card-img-top"
                alt="..."
              />
              {% endif %}
              <div class="card-body">
                <div class="card-title">{{ product[3] }}</div>
                <div class="card-text">
                  <div class="product-price">{{ product[4] }}</div>
                  <div class="product-time-ago text-end">{{ product[6] }}</div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% include "layout/footer.html" %}
  </body>
</html>
