.navbar-nav:nth-child(1) > li:nth-child(1) {
  font-weight: bold;
}

.product-container {
  font-size: 12px;
}

.category-selector {
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
  width: 180px;
  height: 31px;
  padding-left: 0.5rem;
}

.product-search-div {
  display: flex;
  border: 1px solid #6c757d;
  border-radius: 5px;
  width: 275px;
  height: 31px;
  padding: 2px 0.75rem;
  margin-left: 0.75rem;
}

#product-search {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  outline: none;
  letter-spacing: -0.5px;
}

.product-search-icon {
  text-decoration: none;
  color: #6c757d;
  margin: auto 0;
}

.category-selector:hover,
.product-search-div:hover,
.product-search-icon:hover,
.card:hover {
  border-color: #343a40;
}

.product-link {
  text-decoration: none;
  color: black;
}

.card-title {
  font-size: 0.875rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-price {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-price::after {
  content: "ì›";
}

.product-time-ago {
  color: gray;
}

@media screen and (max-width: 424px) {
  .card > img {
    height: 120px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .card > img {
    height: 150px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card > img {
    height: 170px;
  }
}

@media screen and (min-width: 1024px) {
  .card > img {
    height: 200px;
  }
}
