* {
  box-sizing: border-box;
  margin: 0;
}

.parent {
  width: 400px;
  margin: 0 auto;
  background-color: whitesmoke;
}

.child {
  width: 300px;
  height: 300px;
  line-height: 300px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.red {
  background-color: #dc3545;
}

.blue {
  background-color: #0d6efd;
}

.green {
  background-color: #198754;
}

.notice {
  font-weight: 700;
}
